@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #140e3f;
    --color-secondary: #F2930D;
    --color-buttons: #fe0440;
    --color-typography: #1d2125;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
